/*
----------------------------------------------
/////////////////// Layout ///////////////////
----------------------------------------------
*/

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: rgba(167, 177, 230, 1);
}
