/*
----------------------------------------------
/////////////////// Layout ///////////////////
----------------------------------------------
*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

.header li {
  height: 40vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.body li {
  height: 40vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  background-color: green;
}

/*
----------------------------------------------
/////////////////// Content ///////////////////
----------------------------------------------
*/
#Banner {
  width: 562px;
  height: 355.5px;
  position: relative;
}

#BannerBackground {
  position: absolute;
  width: 488px;
  height: 266px;
  left: 14px;
  top: 89px;
  overflow: visible;
}

#BannerSmallBorderBackground {
  position: absolute;
  width: 513px;
  height: 103px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Rectangle_16 {
  fill: #005d53;
  stroke: white;
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_16 {
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
  position: absolute;
  overflow: visible;
  width: 506px;
  height: 284px;
  left: 0px;
  top: 0px;
}

#Rectangle_16_o {
  fill: #14b1a2;
  stroke: white;
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_16_o {
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
  position: absolute;
  overflow: visible;
  width: 531px;
  height: 121px;
  left: 0px;
  top: 0px;
}

#Rectangle_26 {
  fill: white;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_26 {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 2px;
  left: 559px;
  top: 178px;
}

#BannerSmallBackground {
  position: absolute;
  width: 488px;
  height: 74px;
  left: 11px;
  top: 15px;
  overflow: visible;
}

#Rectangle_16_r {
  fill: #005d53;
  stroke: white;
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_16_r {
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
  position: absolute;
  overflow: visible;
  width: 506px;
  height: 92px;
  left: 0px;
  top: 0px;
}

#Welcome {
  left: 130.5px;
  top: 9.5px;
  position: absolute;
  overflow: visible;
  width: 257px;
  white-space: nowrap;
  text-align: center;
  font-family: Segoe UI;
  font-style: italic;
  font-weight: normal;
  font-size: 64px;
  color: white;
}

#I_made_different_themes_to_see {
  left: 43.5px;
  top: 115.5px;
  position: absolute;
  overflow: visible;
  width: 430px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  color: white;
}
/*# sourceMappingURL=HomePage.css.map */