/*
----------------------------------------------
/////////////////// Layout ///////////////////
----------------------------------------------
*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "body body body"
    "footer footer footer";

  background-color: rgba(167, 177, 230, 1);
}

.header {
  grid-area: header;
  display: flex;

  div {
  }
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

/*
----------------------------------------------
/////////////////// Content ///////////////////
----------------------------------------------
*/
// Pictures
.DadsPicture {
  width: 50%;
}
.DadsOtherPicture {
  width: 50%;
}

// Home Banners
#Banner {
  position: relative;
  width: 562px;
  height: 355.5px;
  left: 55px;
  top: 771.233px;
  overflow: visible;
}
#BannerBackground {
  position: absolute;
  width: 488px;
  height: 266px;
  left: 14px;
  top: 89px;
  overflow: visible;
}
#BannerSmallBorderBackground {
  position: absolute;
  width: 513px;
  height: 103px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_16 {
  fill: rgba(0, 93, 83, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_16 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
  position: absolute;
  overflow: visible;
  width: 506px;
  height: 284px;
  left: 0px;
  top: 0px;
}
#Rectangle_16_o {
  fill: rgba(20, 177, 162, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_16_o {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
  position: absolute;
  overflow: visible;
  width: 531px;
  height: 121px;
  left: 0px;
  top: 0px;
}

#Rectangle_26 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_26 {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 2px;
  left: 559px;
  top: 178px;
}

#BannerSmallBackground {
  position: absolute;
  width: 488px;
  height: 74px;
  left: 11px;
  top: 15px;
  overflow: visible;
}
#Rectangle_16_r {
  fill: rgba(0, 93, 83, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_16_r {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
  position: absolute;
  overflow: visible;
  width: 506px;
  height: 92px;
  left: 0px;
  top: 0px;
}
#Welcome {
  left: 130.5px;
  top: 9.5px;
  position: absolute;
  overflow: visible;
  width: 257px;
  white-space: nowrap;
  text-align: center;
  font-family: Segoe UI;
  font-style: italic;
  font-weight: normal;
  font-size: 64px;
  color: rgba(255, 255, 255, 1);
}
#I_made_different_themes_to_see {
  left: 43.5px;
  top: 115.5px;
  position: absolute;
  overflow: visible;
  width: 430px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
}
