/*
----------------------------------------------
/////////////////// Layout ///////////////////
----------------------------------------------
*/

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  ul {
    display: flex;
    list-style-type: none;
  }
}

.header {
  li {
    height: 65vh;
    flex-grow: 1;
  }
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: top;
  }
}

.body {
  li {
    flex-grow: 1;
    height: 40vh;
    display: flex;

    align-content: center;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-style: solid;

      border-color: rgba(255, 255, 255, 1);
      border-width: 5px;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
    }
  }
}

.footer {
  background-color: green;
}

/*
----------------------------------------------
/////////////////// Content ///////////////////
----------------------------------------------
*/

// Home Banners
.BannerContent {
  width: 60%;
  height: 80%;
  background-color: rgba(0, 93, 83, 1);
  span {
    margin-top: 5%;
    text-align: center;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: normal;
    font-size: 4vh;
    color: rgba(255, 255, 255, 1);
  }
}

.Welcome {
  position: absolute;
  background-color: rgba(20, 177, 162, 1);
  width: 43vh;
  height: 11vh;
  div {
    width: 40vh;
    height: 8vh;
    background-color: rgba(0, 93, 83, 1);
    position: relative;
  }

  span {
    position: relative;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: normal;
    font-size: 5vh;
    color: rgba(255, 255, 255, 1);
  }
}
