@import "./VariablesFunctions.scss";

/*
----------------------------------------------
/////////////////// Layout ///////////////////
----------------------------------------------
*/

.Home {
  background-color: $BackgroundColor;
}
// Creates a Flex Box for the whole Page.
.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  // The different rows on the page: Header, Body, Footer.
  ul {
    display: flex;
    list-style-type: none;
  }
}

// The Top Row of the FlexBox on the Page: Holds pictures.
.header {
  li {
    height: 65vh;
    flex-grow: 1;
  }
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: top;
  }
}

// The middle Row of the Flexbox on the Page: Holds Banners.
.body {
  // li holds a flexbox to hold the Divs that hold the text.
  // The divs create the banner rectangles on the page.
  li {
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;

    height: 40vh;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-style: solid;
      border-color: rgba(255, 255, 255, 1);
      border-width: 5px;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
    }
  }
}

// The Last Row on the Page.
.footer {
  background-color: green;
}

/*
----------------------------------------------
/////////////////// Content ///////////////////
----------------------------------------------
*/

// Banners in the Body Portion of the Page.
.BannerContent {
  width: 60%;
  height: 80%;
  background-color: $SecondaryColor;
  span {
    margin-top: 5%;
    text-align: center;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: normal;
    font-size: 4vh;
    color: rgba(255, 255, 255, 1);
  }
}

// The Title of the Banner. Probably should change the name to TitleBanner.
.Welcome {
  position: absolute;
  background-color: $PrimaryColor;
  width: 43vh;
  height: 11vh;
  div {
    width: 40vh;
    height: 8vh;
    background-color: $SecondaryColor;
    position: relative;
  }

  span {
    position: relative;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: normal;
    font-size: 5vh;
    color: rgba(255, 255, 255, 1);
  }
}
