@import "./VariablesFunctions.scss";

/*
----------------------------------------------
/////////////////// NavBar ///////////////////
----------------------------------------------
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// NavBar Svg Style.
.NavBarSvg {
  svg {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.29));
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: fixed;
  }

  path {
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
  }
  .TopPath {
    fill: $SecondaryColor;
  }
  .BottomPath {
    fill: $PrimaryColor;
  }
}

// Title on left of navbar.
.WebsiteTitle {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  flex: 1;
  font-family: Vivaldi;
  font-style: italic;
  font-weight: normal;
  align-self: flex-start;
  font-size: 4vh;
  color: rgba(255, 255, 255, 1);
}

/*
----------------------------------------------
////////////// Screen Layouts ////////////////
----------------------------------------------
*/

// Desktop Version.
@media all and (min-width: 960px) {
  .NavBar {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;

    li {
      margin-left: 5vh;
      margin-right: 5vh;
      justify-self: center;
    }
    a {
      position: relative;
      display: block;
      width: auto;
      color: white;
      font-size: 5vh;
      text-decoration: none;
    }
  }
}
