/*
----------------------------------------------
/////////////////// NavBar ///////////////////
----------------------------------------------
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .NavBar {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    background: none;
    a {
      position: relative;
      display: block;
      width: auto;
      padding: 10px;

      color: white;
      text-decoration: none;
    }
  }
}

#Path_2 {
  fill: rgba(20, 177, 162, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.29));
  transform: matrix(1, 0, 0, 1, 0, 0);
  position: absolute;
}
#Path_1 {
  fill: rgba(0, 93, 83, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_1 {
  position: absolute;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.WebsiteTitle {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  flex: 1;
  font-family: Vivaldi;
  font-style: italic;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
}
